@charset "UTF-8";

/*arrumar as setinhas da galeria depois*/
@media screen and (min-width: 768px) {

    main {
        width: 80%;
    }

    header > menu > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .galeria {
        width: 500px;
        margin: auto;
    }

    .espec > .lista-img {
        justify-content: center;
        font-size: 1.1em;
        width: 90%;
        margin: auto;
    }

    .espec > .lista-img > ul > li {
        justify-content: baseline;
        align-items: baseline;
        
    }

    .valores {
        width: 550px;
        margin: auto;
    }

    .preco {
        font-size: 0.9em;
        
    }

    aside {
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    
    .espec > .lista-img {
        width: 700px;
    }

    .valores {
        width: 80%
    }

}

@media screen and (min-width: 1200px) {
    main {
        width: 60%;
    }

    .home > p {
        width: 900px;
        margin: auto;
    }

    .care {
        width: 900px;
        margin: auto;
    }
    
    .espec > .lista-img {
        width: 900px;
        font-size: 1.3em;
    }

    .espec > .lista-img > img {
        width: 250px;
    }

    .galeria {
        width: 650px;
    }

    h2 {
        font-size: 3em;
    }
    
    .valores {
        width: 700px;
        margin: auto;
    }

    .preco {
        font-size: 1em;
    }

    aside {
        width: 650px;
    }

}