@charset "UTF-8";

@media screen and (min-width: 768px) {

    header > menu > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .pop-gallery {
        width: 70%;
        margin: auto;
    }

    .gallery-slide {
        max-width: 900px;
    }

    .info-container > ul {
        flex-direction: row;
    }

    .care {
        font-size: 1.2em;
    }

}

@media screen and (min-width: 1024px) {

    .home {
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr;
        margin: 100px 30px 30px 30px;
        font-size: 1.4em;
    }

    .home > h1 {
        grid-area: 1/1/2/2;
    }

    .home > img {
        grid-area: 1/2/4/4;
        width: 90%;
    }

    .care {
        max-width: 1300px;
    }

}

@media screen and (min-width: 1200px) {

    .home {
        font-size: 1.5em;
    }

    .home > img {
        margin: 1.6em auto;
    }

    .care {
        margin: auto;
    }

    h2 {
        font-size: 3em;
    }
}
