@charset "UTF-8";

@media screen and (min-width: 768px) {
    .tamanhos {
        flex-direction: column-reverse;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    
    main {
        width: 80%;
    }

    header > menu > ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .galeria {
        width: 500px;
        margin: auto;
    }

    .tamanhos {
        background-color: #e79a8b8a;
    }

    .espec > .tamanhos > ul > li {
        justify-content: baseline;
        align-items: baseline;
    }

    .preco {
        font-size: 0.9em;
    }

    aside {
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {

    .valores {
        width: 700px;
        margin: auto;
    }

}

@media screen and (min-width: 1200px) {
    main {
        width: 80%;
    }

    .home > p {
        width: 900px;
        margin: auto;
    }

    .care {
        width: 900px;
        margin: auto;
    }

    .tamanhos > ul {
        font-size: 1.2em;
    }

    h2 {
        font-size: 3em;
    }
    
    .valores {
        width: 700px;
        margin: auto;
    }

    aside {
        width: 650px;
    }

}

@media screen and (min-width: 1500px) {
    main {
        width: 1200px;
    }

}